.logo {
    background: white;
    height: 230px;
    background-image: url("../images/jakes-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* parent containter for top navigation */
.nav {
    display: flex;
    background-color: black;
    padding: 20px;
}

.left, .right, .center {
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}

/* call to action buttons */
.left, .right {
    width: 25%;
}

/* spans 50% of Nav bar */
.center {width: 50%;}


.center a {
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial;
}

button {
    color: black;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}

.right button {
    background-color: yellow;
}

.left button {
    background-color: skyblue;
    height: 70px;
}

/* parent container for main content */
.column {
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
}

/* Pushes text & heading down div to show background url */
.meal1, .meal2, .meal3 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Seperates pictures of meals */
.meal1 {
    margin-top: 20px;
    background-image: url("../images/steak.png");
}

.meal2 {
    background-image: url("../images/soup.png");
}

.meal3 {
    background-image: url("../images/cheesecake.png");
}

/* opacity used to seperate divs for styling */
.text {
background: rgb(0, 0, 0, 0.7);
width: 100%;
padding: 20px 40px;
color: white;
}

.text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
}

.text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fb {
    color: skyblue;
    text-decoration: none;
    /* To remove underline */
    padding: 20px;
}

.tw {
    color: yellow;
    text-decoration: none;
    padding: 20px;
}

.ig {
    color: red;
    text-decoration: none;
    padding: 20px;
}

